*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

/*Debut page Accueil : Noussaiba et Celia*/
/*Debut partie header : Noussaiba*/
/*Debut partie triangle : Noussaiba*/

.triangle-down {

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 51rem 55rem 0rem 54rem;
    border-color: #7a609063 transparent transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    z-index: -10;
}


/*Debut partie header accueil : Noussaiba*/
/*Debut partie nav : Noussaiba*/

.nav-desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 100%;
}

.nav-desktop ul{
    display: flex;
    justify-content: space-around;
    width: 24%;
}

.nav-desktop ul li {
    list-style: none;
}

.nav-desktop ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/*Fin partie nav : Noussaiba*/

/*Debut partie logo : Noussaiba*/

.logo-accueil {
    display: flex;
    justify-content: center;
}

.logo-accueil img {
    width: 30rem;
    height: auto;
}

/*Fin partie logo : Noussaiba*/

/*Debut partie home-cards : Noussaiba*/

.home-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.home-cards div {
    background-color: #ffffff;
    width: 17rem;
    height: 17rem;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    -webkit-box-shadow: -4px 5px 15px -4px #000000; 
    box-shadow: -4px 5px 15px -4px #000000
}

.home-cards div img {
    width: 10rem;
    height: auto;
   
}

/*Fin partie home-cards : Noussaiba*/

/* Fin partie header : Noussaiba*/

/*Debut partie Main : Celia et Noussaiba*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11rem;
}
.container {
    text-align: center;
    max-width: 37.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem; 
    padding: 0rem;
}

section {
    padding: 5.5rem;
}
#kapital {
    color: rgba(84, 43, 114, 0.69);
}
.texte-accueil {
    width: 37.5rem;
    text-align: center;
}
.btn-accueil {
    width: 12.5rem;
    height: 3.125rem;
    background-color: rgba(84, 43, 114, 0.69);
    color: #fff;
    border-radius: 1.875rem;
    border: transparent;
    font-size: 1em;
}
.section-accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    flex-wrap: wrap;
}
.img-accueil {
    width: 18.75rem;
    height: 25rem;
    object-fit: cover;
}
.texte-btn {
    text-align: center;
    max-width: 37.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem; 
    padding: 1.25rem;
}

/*Fin partie Main : Celia et Noussaiba*/

/*Debut partie footer : Noussaiba*/

footer {
    background-color: #7a609063;
    padding: 1.5rem 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-links ul,
.footer-social ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    padding: 0.5rem;
}

.footer-links a {
    text-decoration: none;
    color: #000;
}

.footer-logo img {
    width: 9rem; 
}

.footer-social i {
    font-size: 2.5rem;
    color: #000;
    align-items: center;
    padding: 0.5rem;
}

.footer-bottom {
    font-size: 1rem;
}

/*Fin partie footer : Noussaiba*/

/*Fin page Accueil : Noussaiba et Celia*/

/*Debut page Contact : Noussaiba et Celia*/


    /*Debut partie Main : Noussaiba*/

    .container-contact {
        text-align: center;
        max-width: 37.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.875rem; 
        padding-top: 10rem;
    }

    .container-contact h2 {
        color: rgba(84, 43, 114, 0.69);
        font-size: 4rem;
    }


    /*Debut partie formulaire : Noussaiba*/

    .form-container {
        background: #fff;
        border-radius: 6rem;
        overflow: hidden;
        border: 1px solid rgba(84, 43, 114, 0.69);
        padding: 4rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
        width: 45rem;
        margin: 0 auto;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    
    .form-group-name input[type="text"] {
        font-size: 1.2rem;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 1.5rem;
        width: 18.2rem;
    }
    
    .form-group-name {
        padding-bottom: 2rem;
    }
    
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group select,
    .form-group textarea {
        font-size: 1.2rem;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 1.5rem;
    }
.form-group textarea {
    resize: none; / Disables the ability to manually resize the textarea */
}
.form-group input[type="submit"] {
    color: black;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form-group input[type="submit"]:hover {
    background: rgba(84, 43, 114, 0.69);
}

/*Fin partie formulaire : Noussaiba*/

/*Fin partie FAQ : Noussaiba*/

.faq .faq-title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    color: var(--text);
}

.faq-container {
    max-width: 50vw;
    padding: 2vh 2vh 2vh 2vh;
    background: rgba( 255, 255, 255, 0.15 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    padding: 2rem;
}

.faq-question span {
    font-size: clamp(14px, 3.5vw, 34px);
}

.faq-question{
    color: var(--text);
}

.faq-question button {
    border-radius: 0.8rem;
    position: relative; 
    width: 50rem;
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    margin: 4px;
    border: none;
    outline: none;
    font-size: clamp(14px, 4vw, 30px);
    font-weight: 700;
    cursor: pointer;
    background: var(--primary);
    color: black;
    background-color: yellow;
}



.faq-question p{
    font-size: clamp(14px, 3vw, 22px);
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all .6s ease;
}

.faq-question p.show{
    max-height: 200px;
    opacity: 1;
    padding: 30px 15px 30px 15px;

}

.faq-question button .rotate{
    transition: 0.3s;
    transform: rotate(180deg);
}
